<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 minimum-scale=0.5, maximum-scale=0.5, user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="../../utils/flexible.js"></script>
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../components/refreshLoad/myscroll.css" />
    <link rel="stylesheet" href="./main/main.css" />
    <link rel="stylesheet" href="../../components/header/header.css" />
    <link rel="stylesheet" href="../../components/bottom/bottom.css" />
    <link rel="stylesheet" href="../../css/font/iconfont.css" />
  </head>
  <body>
    <header class="header"></header>
    <footer class="pub-bottom"></footer>

    <script src="../../lib/zepto.js"></script>
    <script src="../../components/refreshLoad/iscroll-probe.js"></script>
    <script src="../../components/refreshLoad/myscroll.js"></script>
    <script src="main/main.js"></script>
    <script src="../../components/header/header.js"></script>
    <script src="../../components/bottom/bottom.js"></script>
  </body>
</html>
