<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 minimum-scale=0.5, maximum-scale=0.5, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>聊天页</title>
    <script src="../js/flexible.js"></script>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/chat.css" />
</head>
<body>
    <header class="chat-header">
        <div class="chat-header-content">
            <h3>赵文蕾</h3>
            <p>iphone 6s plus 在线  -WiFi</p>
        </div>
        <div class="chat-header-left go-back">
            <span class="iconfont icon-back"></span>
            <p>10</p>
        </div>
        <div class="chat-header-right">
            <span  class="iconfont icon-phone"></span>
            <span  class="iconfont icon-List"></span>
        </div>
    </header>
    <main class="chat-main"></main>
    <footer class="chat-bottom">
        <div class="chat-bottom-ipt">
            <input type="text">
        </div>

        <ul>
            <li>
               <span class="iconfont icon-yuyin"></span>
            </li>
            <li>
                <span class="iconfont icon-tupian"></span>
            </li>
            <li>
                <span class="iconfont icon-xiangji"></span>
            </li>
            <li>
                <span class="iconfont icon-hongbao"></span>
            </li>
            <li>
                <span class="iconfont icon-biaoqingjihuo"></span>
            </li>
            <li>
                <span class="iconfont icon-jiahao"></span>
            </li>
        </ul>
    </footer> 
    <script src="../lib/zepto.js"></script>
    <script src="../lib/iscroll-probe.js"></script>
    <script src="../js/chat.js"></script>

    <!-- <script src="../lib/fastclick.js"></script> -->
</body>
</html>