<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 minimum-scale=0.5, maximum-scale=0.5, user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>注册页</title>
    <script src="../js/flexible.js"></script>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/register.css" />
  </head>
  <body>
    <main class="register-main">
      <div class="register-main-logo">
        <img src="../asserts/LOGO.jpg" alt="" />
      </div>
      <div class="register-main-form">
        <p>
          <span class>
          </span>
          <input class="nickName" type="text" placeholder="请输入昵称" />
          <span class="u-down iconfont"></span>
        </p>
        <p>
          <span></span>
          <input class="username" maxlength="16" type="password" placeholder="请输入用户名"/>
          <span></span>
        </p>
        <p>
          <span>
          </span>
          <input class="password" type="text" placeholder="请输入密码" />
          <span class="u-down iconfont"></span>
        </p>
        <p>
          <span>
          </span>
          <input class="rePassword" type="text"  placeholder="请确认密码"/>
          <span class="u-down iconfont"></span>
        </p>
        <a href="javascript:void(0)" class="register">
          <span class="iconfont icon-go"></span>
        </a>
      </div>
      <div class="register-main-bottom">
            <a class="register-main-bottom-tip" href="./login.html">
               去登录
            </a>
      </div>
    </main>
    <script src="../lib/zepto.js"></script>
    <script src="../js/register.js"></script>
  </body>
</html>
