.message-main {
  position: absolute;
  width: 100%;
  top: 88px;
  bottom: 112px;
  overflow: hidden;
  background: #f5f6fa;
  &-search {
    height: 1.2rem;
    background: #f5f6fa;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      border: 0;
      outline: none;
      background: #fff;
      width: 5.86rem;
      height: 0.72rem;
      border-radius: 0.72rem;
      padding-left: 2.92rem;
      box-sizing: border-box;
      font-size: 0.3rem;
      color: #b1b3be;
    }
  }
  ul {
    li {
      height: 1.44rem;
      background: #fff;
      padding: 0 0.31rem;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      img {
        width: 1.04rem;
        height: 1.04rem;
      }

      .message-item-main {
        width: 3.88rem;
        height: 1.05rem;
        display: flex;
        margin-left: 0.22rem;
        justify-content: space-around;
        flex-direction: column;
        h3 {
          font-size: 0.32rem;
          color: #040819;
        }
        p {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 0.26rem;
          color: #a4a6b1;
        }
      }
      .message-item-info {
        display: flex;
        height: 1.05rem;
        width: 0.6rem;
        justify-content: space-around;
        flex-direction: column;
        &-time {
          color: #abadb8;
          font-size: 0.22rem;
        }
        &-count {
          width: 0.4rem;
          height: 0.4rem;
          text-align: center;
          line-height: 0.4rem;
          color: #fff;
          background: #e4593f;
          font-size: 0.2rem;
          border-radius: 50%;
          align-self: flex-end;
        }
      }
    }
  }
}
