<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>他人主页</title>
    <script src="../js/flexible.js"></script>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/people.css" />
  </head>
        <div class="people-bg">
            <div class="people-bg-header">
                <p class="people-bg-header-left">
                  <span  class="iconfont icon-back go-back"></span>
                </p>
                <p class="people-bg-header-right">
                  <span class="iconfont icon">扫</span>
                  <span>设置</span>
                </p>
            </div>
        </div>
        <div class="people-user">   
            <div class="people-user-header">
                <img src="../asserts/people.png" alt="">
                <div class="people-user-header-info">
                    <p class="people-user-name nickName">C超</p>
                    <span class="username">QQ:1321607222</span>
                    <span>男&nbsp;广东深圳&nbsp;天秤座</span>
                </div>
                <div class="people-user-header-up">
                    <span class="iconfont">赞</span>
                    <p>15556</p>
                </div>
            </div>
            <ul class="people-user-list">
              <li>
                <span class="iconfont">
                  时
                </span>
                <p>
                    时空决定物质如何运动，物质决定时空如何弯曲
                </p>
                <span class="iconfont icon-go"></span>
              </li>
              <li>
                <span class="iconfont">
                    V
                </span>
                <p>
                  &nbsp;会员: 3个太阳，3个月亮,3颗星
                </p>
                <span class="iconfont icon-go"></span>
              </li>
              <li>
                  <span class="iconfont">
                      特
                  </span>
                  <p>
                      特权: 红钻、 蓝钻、绿钻、七彩钻
                  </p>
                  <span class="iconfont icon-go"></span>
              </li>
              <li>
                  <span class="iconfont">
                      我
                  </span>
                  <p>
                     我的空间
                  </p>
              </li>
              <li>
                <img src="../asserts/people_11.jpg" alt="">
                <img src="../asserts/people_13.jpg" alt="">
                <img src="../asserts/people_15.jpg" alt="">
                <img src="../asserts/people_17.jpg" alt="">
              </li>
            </ul>
        </div>
    <div class="people-other"></div>
    <footer class="people-footer">
        <a href="" class="add-friend">加好友</a>
        <a href="">送礼物</a>
        <a href="" class="send-message">发消息</a>
    </footer>
    <script src="../lib/zepto.js"></script>
    <script src="../js/people.js"></script>
  </body>
</html>
