<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>找人</title>
    <script src="../js/flexible.js"></script>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/friends.css" />
  </head>
  <body>
    <header class="friend-header">
      <span>添加</span>
      <span class="iconfont icon-back go-back"></span>
    </header>
    <nav class="friend-nav">
      <span class="active">找人</span>
      <span>找群</span>
    </nav>
    <div class="friend-search">
      <input type="text" placeholder="请输入用户的账号进行查找" />
    </div>
    <ul class="friend-opa">
      <li>
        <span class="iconfont">Q</span>
        <p>QQ扩列</p>
        <span class="iconfont icon-go"></span>
      </li>
      <li>
        <span class="iconfont">添</span>
        <p>添加手机联系人</p>
        <span class="iconfont icon-go"></span>
      </li>
      <li>
        <span class="iconfont">扫</span>
        <p>扫一扫添加好友</p>
        <span class="iconfont icon-go"></span>
      </li>
      <li>
        <span class="iconfont">面</span>
        <p>面对面发起群聊</p>
        <span class="iconfont icon-go"></span>
      </li>
      <li>
        <span class="iconfont">按</span>
        <p>按条件查找陌生人</p>
        <span class="iconfont icon"></span>
      </li>
    </ul>
    <script src="../lib/zepto.js"></script>
    <script src="../js/friends.js"></script>
  </body>
</html>
