<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 minimum-scale=0.5, maximum-scale=0.5, user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>消息列表</title>
    <script src="../js/flexible.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/message.css">
  </head>
  <body>
    <!-- 公共头部 -->
    <header class="pub-header">
      <a class="pub-header-user">
        <img src="../asserts/header-user.png" alt="" />
      </a>
      <span>消息</span>
      <p class="pub-header-opa">
        <span class="iconfont icon-add"></span>
        <span class="iconfont icon-xiangji"></span>
      </p>
    </header>
    <main class="message-main">
      <div class="message-main-wrap">
        <div class="myScroll-flash">
          <img src="../asserts/refresh.png" alt="">
        </div>
        <div class="message-main-search">
          <input type="text" placeholder="搜索">
        </div>
        <ul>
        </ul>
        <div class="myScroll-load">
            <img src="../asserts/load.png" alt="">
          </div>
      </div>
    </main>
    <!-- 公共底部 -->
    <footer class="pub-bottom">
    </footer>
    <script src="../lib/zepto.js"></script>
    <script src="../lib/iscroll-probe.js"></script>
    <!-- <script src="../lib/fastclick.js"></script> -->
    <script src="../js/message.js"></script>
  </body>
</html>
