<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 minimum-scale=0.5, maximum-scale=0.5, user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>登录页</title>
    <script src="../../utils/flexible.js"></script>
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../css/font/iconfont.css" />
    <link rel="stylesheet" href="./main/main.css" />
  </head>
  <body>
    <main class="login-main">
      <div class="login-main-logo">
        <img src="../../asserts/LOGO.jpg" alt="" />
      </div>
      <div class="login-main-form">
        <p>
          <span class>
            <img src="../../asserts/user.jpg" alt="" />
          </span>
          <input class="username" type="text" />
          <span class="u-down iconfont">下</span>
        </p>
        <p>
          <span></span>
          <input class="password" maxlength="16" type="password" />
          <span></span>
        </p>

        <a href="javascript:void(0)">
          <span class="iconfont"> </span>
        </a>
      </div>
      <div class="login-main-bottom">
            <div class="login-main-bottom-opa">
                <a href="#">忘记密码</a>
                <a href="#">用户注册</a>
            </div>
            <div class="login-main-bottom-tip">
                登录即代表阅读并同意<span>服务协议</span>
            </div>
      </div>
    </main>
    <script src="../../lib/zepto.js"></script>
  </body>
</html>
